# Python virtual environment
venv/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Specific file
test.ft.txt
train.ft.txt
creditcard.csv
kaggle.json
Fake.csv
True.csv
WA_Fn-UseC_-Telco-Customer-Churn.csv