# Python virtual environment
venv/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo
*.safetensors

# Jupyter Notebook
.ipynb_checkpoints

# Dataset folders
**/data/FashionMNIST/raw/


# Specific file
test.ft.txt
train.ft.txt
creditcard.csv
kaggle.json
Fake.csv
True.csv
WA_Fn-UseC_-Telco-Customer-Churn.csv
fashion_cnn_resnet18.pth

# OS
.DS_Store
Thumbs.db